<div id="designProjects" class="container py-5 text-center hideLeft active">
    <!-- Cards Start Here -->
    <div class="card card-overwrite" data-aos="fade-up">
        <div class="overflow-div">
            <div class="tmb azw-brand">
                <div class="card-overlay">
                    <div class="cta-btns">
                        <a href="../design/azw-branding"><button class="btn text-light BtnStyles">View
                                Project</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content"">
            <div class=" categories">
            <span class="project-chip">Branding</span>
            <span class="project-chip">Identity</span>
            <span class="project-chip">Illustration</span>
            <span class="project-chip">Print</span>
        </div>
        <h3>Establishing one of the first breweries to break the mold in Arizona</h3>
    </div>
</div>
<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb acopon-brand">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="../design/acopon"><button class="btn text-light BtnStyles">View Project</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
            <div class=" categories">
        <span class="project-chip">Branding</span>
        <span class="project-chip">Identity</span>
        <span class="project-chip">Illustration</span>
        <span class="project-chip">Print</span>
    </div>
    <h3>Designing an unexpected brand in a small but evolving town</h3>
</div>
</div>
<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb azw-illustration">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="../design/azw-illustration"><button class="btn text-light BtnStyles">View
                            Project</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
            <div class=" categories">
        <span class="project-chip">Illustration</span>
        <span class="project-chip">Print</span>
    </div>
    <h3>A collection of product labels and promotional illustrations</h3>
</div>
</div>

<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb azw-logos">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="../design/azw-logos"><button class="btn text-light BtnStyles">View Project</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
            <div class=" categories">
        <span class="project-chip">Branding</span>
        <span class="project-chip">Identity</span>
    </div>
    <h3>A collection of identity designs in the craft beer industry</h3>
</div>
</div>

</div>