<div id="devProjects" class="container py-5 text-center hideRight">
    <!-- Cards Start Here -->
    <div class="card card-overwrite" data-aos="fade-up">
        <div class="overflow-div">
            <div class="tmb applyordie">
                <div class="card-overlay">
                    <div class="cta-btns">
                        <a href="https://applyordie.com/" target="_blank" rel="noopener"><button
                                class="btn text-light BtnStyles">View
                                Live</button></a>
                        <a href="https://github.com/RojoRevolution/apply-or-die" target="_blank" rel="noopener"><button
                                class="btn text-light BtnStyles">View
                                GitHub</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content"">
            <div class=" categories">
            <span class="project-chip">MongoDB</span>
            <span class="project-chip">Express</span>
            <span class="project-chip">React</span>
            <span class="project-chip">Node</span>
            <span class="project-chip">REST API</span>
        </div>
        <h3>My Capstone project for a web dev
            bootcamp, this MERN Application was built to log your job search.</h3>
    </div>
</div>
<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb instance-styler">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="https://rojorevolution.github.io/instance-style-options/" target="_blank"
                        rel="noopener"><button class="btn text-light BtnStyles">View
                            Live</button></a>
                    <a href="https://github.com/RojoRevolution/instance-style-options" target="_blank"
                        rel="noopener"><button class="btn text-light BtnStyles">View
                            GitHub</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
            <div class=" categories">
        <span class="project-chip">HTML</span>
        <span class="project-chip">CSS</span>
        <span class="project-chip">Javascript</span>
    </div>
    <h3>Internal web-app that showcases customization options for Bevy's client web sites.</h3>
    <p>Enter "SEdemo" to view live site</p>
</div>
</div>
<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb barbershop-dev">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="https://barbershopbar.com" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            Live</button></a>
                    <a href="https://github.com/RojoRevolution/barbershop-bar" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            GitHub</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
            <div class=" categories">
        <span class="project-chip">HTML</span>
        <span class="project-chip">CSS</span>
        <span class="project-chip">Javascript</span>
        <span class="project-chip">CSS & JS Animations</span>
    </div>
    <h3>Landing page for The Barbershop, a craft beer and wine bar located in Dripping Springs, TX</h3>
</div>
</div>
<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb acopon-dev">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="https://acoponbrewing.com/" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            Live</button></a>
                    <a href="https://github.com/RojoRevolution/acopon" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            GitHub</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
        <div class=" categories">
        <span class="project-chip">HTML</span>
        <span class="project-chip">CSS</span>
        <span class="project-chip">Javascript</span>
        <span class="project-chip">jQuery</span>
    </div>
    <h3>Landing page for a Acopon Brewing Co., just outside of Austin, Tx.</h3>
</div>
</div>
<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb goodday">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="https://reagang1997.github.io/INeedADrink/" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            Live</button></a>
                    <a href="https://github.com/reagang1997/INeedADrink" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            GitHub</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
        <div class=" categories">
        <span class="project-chip">HTML</span>
        <span class="project-chip">Foundation</span>
        <span class="project-chip">Javascript</span>
        <span class="project-chip">REST API</span>
    </div>
    <h3>Group project utlizing multiple API's to check the weather and give you a list of local breweries</h3>
</div>
</div>
<div class="card card-overwrite" data-aos="fade-up">
    <div class="overflow-div">
        <div class="tmb quiz">
            <div class="card-overlay">
                <div class="cta-btns">
                    <a href="https://rojorevolution.github.io/004_Code_Quiz/" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            Live</button></a>
                    <a href="https://github.com/RojoRevolution/004_Code_Quiz" target="_blank" rel="noopener"><button
                            class="btn text-light BtnStyles">View
                            GitHub</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-content"">
        <div class=" categories">
        <span class="project-chip">HTML</span>
        <span class="project-chip">Bootstrap</span>
        <span class="project-chip">Javascript</span>
        <span class="project-chip">Local Storage</span>
    </div>
    <h3>A quiz app that loads dynamic content and tracks your score using local storage.</h3>
</div>
</div>
</div>