<section class="container-flex py-5 getInTouchBG">
    <div class="container py-5">
        <div class="text-center getInTouchContent">
            <h1>Get In Touch</h1>
            <h3>Want to discuss a project, collaborate, or simply talk about who the best <span id="genre">Heavy
                    Metal</span> band of all time
                is....
                and why it's <span id="band">Judas Priest</span>?
            </h3>
            <a href="/about#contact">
                <button type="button" class="btn text-light touchBtn">Shoot me a message</button>
            </a>
        </div>
    </div>
</section>