<header id="mainHeader" class="container-flex">
    <div id="menu" class="menu pos-absolute">
        <!-- <img id="introMenu" src="/assets/images/menu/menu_icon _white.svg">
            <img id="contentMenu" class="hide" src="/assets/images/menu/menu_icon.svg"> -->
        <div id="introMenu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div id="contentMenu" class="hide">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="container pos-relative">
        <div id="logoWhite" class="logo pos-absolute"><a href="/index"><img
                    src="/assets/images/logo/rr_logo_white.svg"></a></div>
        <div id="logoRed" class="logo pos-absolute hide"><a href="/index"><img
                    src="/assets/images/logo/rr_logo.svg"></a>
        </div>
    </div>
    <nav id="navIntro">
        <ul>
            <li class="navli-intro"><a href="/design-projects"> Design</a></li>
            <li class="navli-intro"><a href="/dev-projects"> Code</a></li>
            <li class="middle">RojoRevolution</li>
            <li class="navli-intro"><a href="/about"> About</a></li>
            <li class="navli-intro"><a href="/about#contact">Contact</a></li>
        </ul>
    </nav>
    <nav id="navContent" class="hide">
        <ul>
            <li class="navli-content"><a href="/design-projects"> Design</a></li>
            <li class="navli-content"><a href="/dev-projects"> Code</a></li>
            <li class="middle">RojoRevolution</li>
            <li class="navli-content"><a href="/about"> About</a></li>
            <li class="navli-content"><a href="/about#contact">Contact</a></li>
        </ul>
    </nav>
</header>