<!-- Universal script can be added here -->
<script src="/assets/js/lazysizes.min.js" async=""></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="/assets/js/getInTouch.js" type="text/javascript"></script>
</body>

</html>