<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn text-light">&times;</a>
    <a href="/design-projects">Design</a>
    <a href="/dev-projects">Development</a>
    <a href="/about">About</a>
    <a href="/about#contact">Contact</a>
</div>