<%- include('partials/html-start-doc'); %>
    <!-- Start Body -->
    <section id="mainIntro" class="container-flex intro">
        <div id="intro-content" class="container">
            <div class="py-3 logo"><img src="/assets/images/logo/rr_logo_white.svg" class="text-light"></div>
            <div>
                <h1>The revolution will not be televised.
                </h1>
            </div>
            <div>
                <p>I'm currently not taking on projects. Check back another time.</p>
            </div>
        </div>
    </section>