/* Panels and Cards */
.content-panel {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: clip;
    width: 100%;
}

.card {
    background: var(--rr-surface-color-primary);
    padding: var(--rr-size-lg);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: var(--rr-size-sm-2x);
    min-width: 300px;
    max-width: 700px;
    width: 100%;
    min-height: 300px;
    border: 2px solid var(--rr-surface-color-primary);
    border-radius: var(--rr-size-md);
    transition: .5s;
}

.card:hover {
    border: 2px solid var(--rr-border-color-default);
    transition: .5s;
    /* box-shadow: 0 0 32px rgba(0, 0, 0, .05); */
}

.card:first-of-type {
    max-width: 1440px;
    width: 100%;
}

.card>.img-container {
    background: #fff;
    width: 100%;
    min-height: 300px;
    border-radius: var(--rr-size-md);
}

.card>.card-content {
    display: flex;
    flex-direction: column;
}

.card>.card-content>p {
    margin-block-start: 0;
    margin-block-end: 0;

}

/* .card .project-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: var(--rr-size-sm-2x);
    background-color: var(--rr-surface-color-primary-dark);
}

.card .project-info .inner-border {
    border: 3px solid var(--rr-border-color-offwhite);
}


.card .project-title {
    padding: var(--rr-size-lg);
    max-width: 475px;
    bottom: 0;
    right: 40px;
}

.card .project-title h3 {
    color: var(--rr-text-color-offwhite);
} */



/* Overlays */
.section-overlay {
    top: 0;
    left: 0;
    background: var(--rr-surface-color-overlay);
    width: 100%;
    height: 100%;
}


/* Chips */
.chip,
.chip-outline {
    padding-top: var(--rr-size-sm-2x);
    padding-bottom: var(--rr-size-sm-2x);
    padding-left: var(--rr-size-md);
    padding-right: var(--rr-size-md);
    font-size: var(--rr-size-sm);
    border-radius: var(--rr-radius-sm-2x);
    transition: .25s ease-out;
}

.chip {
    background-color: var(--rr-surface-color-accent);
}

.chip-outline {
    color: var(--rr-text-color-primary);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--rr-text-color-primary);
    position: relative;
    clip-path: border-box;
    transition: .35s;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.chip-outline:hover {
    transform: scale(105%);
    /* background-color: rgba(0, 0, 0, .25); */
    transition: .35s;
    box-shadow: inset;
}

.shine {
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(326deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.25) 37%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    width: 200px;
    height: 40px;
    top: 0;
    left: 0;
    opacity: .35;
    animation-name: move-gradient-left-to-right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-delay: 0;

}

.chip-outline:nth-of-type(2)>.shine {
    animation-delay: .5s;
}

.chip-outline:nth-of-type(3)>.shine {
    animation-delay: 1s;
}

.chip-outline:nth-of-type(4)>.shine {
    animation-delay: 1.5s;
}


@keyframes move-gradient-left-to-right {
    0% {
        opacity: .35s;
        left: -110px;
    }

    50% {
        left: 160px
    }

    90% {
        opacity: 0;
    }

    100% {
        left: 110px;
    }
}

/* Buttons */

.btn {
    outline: none;
    border: none;
    padding: var(--rr-size-sm) var(--rr-size-md);
    transition: .25s ease-in;
    font-size: var(--rr-size-md);
    font-weight: var(--weight-600);
}


.btn.primary {
    background-color: var(--rr-surface-button-primary-default);
    font-size: var(--rr-size-md);
    border-radius: var(--rr-radius-sm);
    font-size: var(--rr-size-md);
    color: var(--rr-text-color-white);
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, .75); */
}

.btn.primary:hover {
    background-color: var(--rr-surface-button-primary-hover);
    cursor: pointer;
    transition: .25s ease-out;
}

.btn[disabled] {
    opacity: .5;
}

.btn[disabled].primary:hover {
    background-color: var(--rr-surface-button-primary-default);
    cursor: not-allowed;
}


/* Images */
.img-placeholder {
    background: #dddddd;
    width: 100px;
    height: 100px;
}

.img-100 {
    width: 100%;
}

/* Tabs */

.tab {
    display: flex;
    flex-direction: column;
    /* max-width: 250px; */
    width: 100%;
    padding: var(--rr-size-sm);
}