/* Sections */

section {
    padding: var(--rr-size-xl-4x) 0;

}

section[data-header-type="intro"] {
    position: sticky;
    top: 0;
    /* border-bottom: 1px solid var(--rr-border-color-default); */
}

.spacing-a-t {
    letter-spacing: -7px;
    margin-right: 10px;
}


@keyframes blink-cursor {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.film-effect-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.film-card-clip {
    width: 100%;
    height: 100%;
    clip-path: inset(0px 0px 0px 0px);
    position: absolute;
}

.film,
.effect {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(0.45px) drop-shadow(0px 0px 0px var(--rr-surface-color-primary-dark));
}

.film:after,
.effect:after {
    position: absolute;
    content: '';
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 100px;
    opacity: 0.5;
    animation: film-scratch 0.45s steps(1) infinite;
    background: repeating-linear-gradient(90deg, var(--rr-surface-color-black) 0 2px, transparent 4px 37vmin);
}

.grain {
    position: relative;
    width: 100%;
    height: 100%;
}

.grain:after {
    position: absolute;
    content: '';
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    opacity: .25;
    background-image:
        repeating-conic-gradient(var(--rr-surface-color-black) 0%, transparent .00003%, transparent .0005%, transparent .00095%),
        repeating-conic-gradient(var(--rr-surface-color-black) 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
    animation: grain 0.5s steps(1) infinite;
    filter: drop-shadow(0px 0px 1px var(--rr-surface-color-black));
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-1%, -1%);
    }

    20% {
        transform: translate(1%, 1%);
    }

    30% {
        transform: translate(-2%, -2%);
    }

    40% {
        transform: translate(3%, 3%);
    }

    50% {
        transform: translate(-3%, -3%);
    }

    60% {
        transform: translate(4%, 4%);
    }

    70% {
        transform: translate(-4%, -4%);
    }

    80% {
        transform: translate(2%, 2%);
    }

    90% {
        transform: translate(-3%, -3%);
    }
}

@keyframes film-scratch {

    0%,
    100% {
        transform: translateX(0);
        opacity: 0.5;
    }

    10% {
        transform: translateX(-1%);
    }

    20% {
        transform: translateX(1%);
    }

    30% {
        transform: translateX(-2%);
        opacity: 0.75;
    }

    40% {
        transform: translateX(3%);
    }

    50% {
        transform: translateX(-3%);
        opacity: 0.5;
    }

    60% {
        transform: translateX(8%);
    }

    70% {
        transform: translateX(-3%);
    }

    80% {
        transform: translateX(10%);
        opacity: 0.25;
    }

    90% {
        transform: translateX(-2%);
    }
}

@keyframes effect-scratch {
    0% {
        transform: translateX(0);
        opacity: 0.75;
    }

    10% {
        transform: translateX(-1%);
    }

    20% {
        transform: translateX(1%);
    }

    30% {
        transform: translateX(-2%);
    }

    40% {
        transform: translateX(3%);
    }

    50% {
        transform: translateX(-3%);
        opacity: 0.5;
    }

    60% {
        transform: translateX(8%);
    }

    70% {
        transform: translateX(-3%);
    }

    80% {
        transform: translateX(10%);
        opacity: 0.25;
    }

    90% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(30%);
    }
}


.go-back-container {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 1;
    transition: .25s ease-out;
}

.show-go-back {
    transition: .25s ease-out;
    top: 20px;
}

#content-wrapper {
    height: 100vh;
    overflow: hidden;
}

.all-panels {
    position: absolute;
    top: 0;
    left: 0;
    transition: .35s ease-in;
}

#project-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: var(--rr-size-xl-2x);
    border-left: 1px solid var(--rr-border-color-default);
}

.project-content {
    display: none;
    padding: var(--rr-size-xl-2x);
    /* border: 1px solid var(--rr-border-color-dark); */
    /* border-radius: var(--rr-radius-lg-4x);
    box-shadow: 20px 20px 0px var(--rr-surface-color-brand); */
}

.project-content .col {
    height: 100%;
}

/* ============= */
/* Intro Section */
#welcome {
    height: 50vh;
    padding: var(--rr-size-xl-3x) var(--rr-size-md);
    justify-content: flex-end;
}

#welcome h1 {
    text-transform: uppercase;
    position: relative;
}

.hover-grow:hover {
    transform: scale(1.1);
}

#welcome span.off,
#welcome span.center {
    position: relative;
    color: rgba(0, 0, 0, 0)
}

#welcome span.off:before,
#welcome span.center:before {
    position: absolute;
    color: var(--rr-text-color-secondary);
}

#welcome span.off:before {
    content: 'off';
    top: -4px;
    transition: .25s ease-out;
}

#welcome span.off:hover:before {
    top: -2px;
    transition: .25s ease-in;
}

#welcome span.center:before {
    content: 'center';
    bottom: -4px;
    transition: .25s ease-out;

}

#welcome span.center:hover:before {
    bottom: -2px;
    transition: .25s ease-in;
}



#welcome .intro-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 6px
}

#welcome .intro-logo {
    max-width: 40px;
    width: 100%;
}

#welcome .titles {
    height: 1.4rem;
    overflow: hidden;
    min-width: 400px;
    margin-bottom: 1rem;
    border-left: 1px solid var(--rr-border-color-default);
}

#welcome p {
    font-size: var(--rr-size-lg);
    line-height: 1.25;
}

#welcome ul {
    position: absolute;
    padding-top: 2px;
    top: -14px;
    left: var(--rr-size-md);
    min-width: 400px;
    font-size: var(--rr-size-lg);
    animation-name: title-scroll;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: spring;
}

@keyframes title-scroll {
    0% {
        top: -14px;
        filter: blur(0px);
    }

    5% {
        top: -14px;
        filter: blur(0px);
    }

    6% {
        top: -14px;
        filter: blur(4px);
    }

    7% {
        top: -60px;
        filter: blur(0px);
    }

    12% {
        top: -60px;
        filter: blur(0px);
    }

    13% {
        top: -60px;
        filter: blur(4px);
    }

    14% {
        top: -104px;
        filter: blur(0px);
    }

    19% {
        top: -104px;
        filter: blur(0px);
    }

    20% {
        top: -104px;
        filter: blur(4px);
    }

    21% {
        top: -150px;
        filter: blur(0px);
    }

    26% {
        top: -150px;
        filter: blur(0px);
    }

    27% {
        top: -150px;
        filter: blur(4px);
    }

    28% {
        top: -196px;
        filter: blur(0px);
    }

    33% {
        top: -196px;
        filter: blur(0px);
    }

    34% {
        top: -196px;
        filter: blur(4px);
    }

    35% {
        top: -242px;
        filter: blur(0px);
    }

    40% {
        top: -242px;
        filter: blur(0px);
    }

    41% {
        top: -242px;
        filter: blur(4px);
    }

    42% {
        top: -286px;
        filter: blur(0px);
    }

    /* 48% {
        top: -286px;
    } */

    /* 49% {
        top: -242px;
    } */

    58% {
        top: -286px;
        filter: blur(0px);
    }

    59% {
        top: -286px;
        filter: blur(4px);
    }

    60% {
        top: -242px;
        filter: blur(0px);
    }

    65% {
        top: -242px;
        filter: blur(0px);
    }

    66% {
        top: -242px;
        filter: blur(4px);
    }

    67% {
        top: -196px;
        filter: blur(0px);
    }

    72% {
        top: -196px;
        filter: blur(0px);
    }

    73% {
        top: -196px;
        filter: blur(4px);
    }

    74% {
        top: -150px;
        filter: blur(0px);
    }

    79% {
        top: -150px;
        filter: blur(0px);
    }

    80% {
        top: -150px;
        filter: blur(4px);
    }

    81% {
        top: -104px;
        filter: blur(0px);
    }

    86% {
        top: -104px;
        filter: blur(0px);
    }

    87% {
        top: -104px;
        filter: blur(4px);
    }

    88% {
        top: -60px;
        filter: blur(0px);
    }

    93% {
        top: -60px;
        filter: blur(0px);
    }

    94% {
        top: -60px;
        filter: blur(4px);
    }

    95% {
        top: -14px;
        filter: blur(0px);
    }

    100% {
        top: -14px;
        filter: blur(0px);
    }
}

#welcome ul li {
    padding: var(--rr-size-sm-2x) 0;
    font-size: var(--rr-size-xl-2x);
    text-transform: uppercase;
}

.blur {
    animation-name: blur;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
    color: var(--rr-text-color-primary);
    color: transparent;
    text-shadow: 0 0 0 var(--rr-text-color-subtle);
}

@keyframes blur {
    0% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }

    50% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }

    52% {
        color: transparent;
        text-shadow: 0 0 8px var(--rr-text-color-subtle);
    }

    56% {
        color: transparent;
        text-shadow: 0 0 4px var(--rr-text-color-subtle);
    }

    60% {
        color: transparent;
        text-shadow: 0 0 4px var(--rr-text-color-subtle);
    }

    62% {
        color: transparent;
        text-shadow: 0 0 6px var(--rr-text-color-subtle);
    }

    64% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }

    100% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }
}

[data-blur="off"] {
    filter: blur(0);
    transition: .25s ease-in;
}

[data-blur="on"] {
    filter: blur(6px);
    transition: .25s ease-out;
}


.red {
    color: red;
}

#welcome #titles {
    position: relative;
    height: 70px;
    clip-path: inset(0);
}


#welcome #titles .col {
    position: absolute;
    top: -6px;
    animation-name: scroll-titles;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


@keyframes scroll-titles {
    0% {
        top: -6px;
    }

    3% {
        top: -6px;
    }

    10% {
        top: -6px;
    }

    13% {
        top: -98px;
    }

    20% {
        top: -98px;
    }

    23% {
        top: -190px;
    }

    30% {
        top: -190px;
    }

    33% {
        top: -282px;
    }

    40% {
        top: -282px;
    }

    55% {
        top: -282px;
    }

    58% {
        top: -190px;
    }

    66% {
        top: -190px;
    }

    69% {
        top: -98px;
    }

    77% {
        top: -98px;
    }

    80% {
        top: -6px;
    }

    100% {
        top: -6px;
    }

}

.kern-av {
    letter-spacing: -.5rem;
    margin-right: .5rem;
    margin-left: -.25rem;
}

#welcome .pronunciation {
    position: relative;
    color: rgba(0, 0, 0, 0);
    transition: .25s ease-in;
    /* text-decoration: wavy var(--rr-text-color-brand) underline; */
}

#welcome .pronunciation:before {
    position: absolute;
    content: 'Rojo';
    color: var(--rr-text-color-brand);
    transition: .25s ease-in;
}

#welcome .pronunciation:hover:before {
    transform: scale(1.1);
    transition: .25s ease-out;
}

#welcome .pronunciation .bubble {
    position: absolute;
    top: -18px;
    right: -20px;
    opacity: 0;
    transform: scale(.5);
    background-color: var(--rr-surface-color-overlay-primary);
    padding: 4px 8px;
    min-width: 60px;
    font-size: var(--rr-size-md);
    line-height: 1.5;
    color: var(--rr-text-color-secondary);
    font-family: var(--font-content);
    text-transform: lowercase;
    text-align: center;
    border-radius: var(--rr-radius-sm);
    transition: .25s ease;
}

.pronunciation:hover {
    color: var(--alpha-red500-75);
    padding-bottom: 4px;
    transition: .25s ease-out;
}

#welcome .pronunciation:hover .bubble {
    opacity: 1;
    top: -32px;
    right: -28px;
    transform: scale(1.5);
    transition: .25s ease;
}

/* Featured Projects */
.feature-card {
    transition: .25s ease-out
}


.feature-card:hover {
    /* cursor: pointer; */
    color: var(--rr-text-color-brand);
}

.feature-card:hover h3,
.feature-card:hover .chip-outline {
    color: var(--rr-text-color-brand);
    border-color: var(--rr-text-color-brand);
}

.feature-card .card-img {
    background: #fff;
    min-height: 500px;
    transition: .25s ease-out;
    /* filter: sepia(0%); */
}

.feature-card:hover .card-img {
    transition: .25s ease-out;
    /* cursor: pointer; */
    /* filter: sepia(90%); */
}

#feature1:hover #project1 {
    background-size: 102%;
    transition: .25s ease-out;
}

#featured #labels.card-img {
    background: rgb(185, 105, 7);
    background: linear-gradient(151deg, rgba(185, 105, 7, 1) 0%, rgba(251, 232, 91, 1) 100%);
}

#featured .card:last-of-type {
    background: rgb(250, 170, 141);
    background: linear-gradient(133deg, rgba(250, 170, 141, 1) 0%, rgba(214, 65, 39, 1) 100%);
}

.card>#acopon.img-container {
    background-image: url('/assets/images/projects/featured/acopon.jpg');
    transition: .25s ease-in;
}

.card>#labels.img-container {
    background-image: url('/assets/images/projects/featured/cans-labels.png');
    transition: .25s ease-in;
}

.card>#logos.img-container {
    background-image: url('/assets/images/projects/featured/logos.gif');
    transition: .25s ease-in;
}

.card .img-container {
    /* filter: grayscale(0); */
}

.card:hover .img-container>.section-overlay {
    /* filter: blur(1); */
    background-color: var(--rr-surface-color-overlay-primary);
}

#featured ul,
#webdev ul {
    padding: 0;
    margin: 0;
}


.view-prj {
    height: 0;
    color: var(--rr-text-color-brand);
    transition: .25s ease-out;
}

.view-prj:hover {
    color: var(--rr-surface-color-brand-accent);
}


.feature-card:hover .view-prj {
    height: 40px;
    transition: .25s ease-out;
}

.feature-vid-bg {
    /* z-index: -1; */
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .2;
}

.section-header {
    z-index: 3;
    border-top: 1px solid var(--rr-border-color-default);
    border-bottom: 1px solid var(--rr-border-color-default);
    width: 100%;
    height: 68px;
    padding: var(--rr-size-md);
    overflow: hidden;
    position: sticky;
    top: 0;
    color: var(--rr-text-color-primary);
    padding-left: var(--rr-size-md);
    background: var(--rr-surface-color-primary);
}

.section-header h2 {
    color: var(--rr-text-color-primary);
    padding-left: var(--rr-size-md);
}

/* Services */
#services .tab {
    border-radius: var(--rr-radius-lg) var(--rr-radius-lg) 0 0;
}

#services .tab[data-tab-status="active"] {
    background: var(--rr-surface-color-accent);
}

#services .tab[data-tab-status="inactive"] {
    transition: .15s ease-out;
}

#services .tab[data-tab-status="inactive"]:hover {
    background: rgba(0, 0, 0, .05);
    transition: .25s ease-in;
    cursor: pointer;
}

#services-content {
    background: var(--rr-surface-color-accent);
    padding: var(--rr-size-xl) var(--rr-size-xl-4x);
    margin: 0;
}

#services ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

#services h5 {
    font-family: var(--font-header);
    font-size: var(--rr-size-md);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
    text-align: center;
    margin: 0;
}

.tab-content-radius {
    border-radius: var(--rr-radius-lg);
    transition: .15s ease-out;
}

/* #services p {
    margin: 0;
} */


/* Case Studies */
#case-studies .card {
    max-width: 768px;
}

#webdev .feature-card {
    width: 680px;
}

#webdev .feature-card:hover {
    cursor: default;
    color: var(--rr-text-color-brand);
}

.feature-card:hover {
    cursor: pointer;
    color: var(--rr-text-color-brand);
}

.feature-card:hover h3,
.feature-card:hover .chip-outline {
    color: var(--rr-text-color-primary);
    border-color: var(--rr-text-color-primary);
}


#webdev p {
    margin: 0;
}


#logos [data-logo] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 500px;
    padding: var(--rr-size-xl-3x);
}


/* ================ */
/* Can Label Page */
/* ================= */

#label-showcase [data-target="showcase"] {
    min-height: 900px;
}

.can-control-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#label-showcase .scroll-container {
    position: relative;
    height: 250px;
}


#label-showcase [data-target="showcase"] {
    max-width: 1200px;
    width: 100%;
    height: 90vh;
}

#label-showcase [data-target="showcase"] .label-artwork {
    position: absolute;
    top: 0;
    left: 0;
}

#label-showcase [data-target="showcase"] .hide-img {
    opacity: 0;
    transition: .25s ease-in;
}


#label-showcase [data-target="showcase"] .show-img {
    opacity: 1;
    transition: .5s ease-in;
    transition-delay: .1s;
}

#label-showcase [data-target="can-controls"] {
    position: absolute;
    left: 0;
    top: 0;
    transition: .25s ease-out;
}

#label-showcase [data-can] {
    transform: scale(.8);
    transition: .25s ease-in;
}

#label-showcase [data-can]:hover {
    transform: scale(.9);
    transition: .25s ease-out;
    cursor: url('../images/projects/misc/hand-click.svg')1 0, auto;
}

#label-showcase [data-selected="true"],
#label-showcase [data-can]:hover[data-selected="true"] {
    transform: scale(1);
    transition: .25s ease-out;
}

#label-showcase .move-right-container,
#label-showcase .move-left-container {
    position: absolute;
    bottom: 0;
    height: 240px;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    padding: 20px;
}

#label-showcase .move-right-container {
    right: 0;
}

#label-showcase .move-left-container {
    left: 0;
}

#label-showcase .move-right-container>button,
#label-showcase .move-left-container>button {
    /* box-shadow: 0 0 32px rgba(0, 0, 0, .75); */
}

/* ================ */
/* Acopon Project */

#acopon .corner-cask {
    position: absolute;
    max-width: 394px;
    width: 100%;
}

#acopon .corner-cask:first-of-type {
    left: 0;
    bottom: 0;
}

#acopon .corner-cask:last-of-type {
    transform: scaleX(-1);
    right: 0;
    bottom: 0;
}

#acopon .corner-cask>img {
    width: 100%;
}

#acopon .img-panel {
    width: 100%;
    border: 1px solid var(--rr-border-color-default);
    border-radius: var(--rr-radius-md);
    display: flex;
    justify-content: center;
}

#acopon .swatches {
    width: 100%;
    border: 1px solid var(--rr-border-color-default);
    border-radius: var(--rr-radius-md);
    display: flex;
    justify-content: start;
}


#acopon .logo-primary {
    max-width: 500px;
    width: 100%;
}

#acopon .icon-primary-default {
    width: 100%;
}

#acopon .icon-primary-default:first-of-type {
    max-width: 300px;
}

#acopon .icon-primary-default:nth-of-type(2) {
    max-width: 200px;
}

#acopon .icon-primary-default:nth-of-type(3) {
    max-width: 78px;
}

#acopon .secondary-mark {
    max-width: 500px;
    width: 100%;
}

#acopon .pattern {
    background-repeat: repeat-x;
    background-size: 25%;
    height: 412px;
}

#acopon .pattern.dark {
    background-image: url('/assets/images/projects/acopon/acopon-pattern-dark.webp');
}

#acopon .pattern.light {
    background-image: url('/assets/images/projects/acopon/acopon-pattern-light.webp');
}

#acopon .cask-pattern {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
    background-image: url('/assets/images/projects/acopon/cask-pattern.svg');
    height: 290px
}

#acopon .merch-img {
    max-width: 500px;
}

#acopon .merch-img.featured {
    max-width: 1124px;
}

.acopon-bg-blue {
    background: var(--acopon-blue);
}

.acopon-bg-gold {
    background: var(--acopon-gold);
}

.acopon-bg-green {
    background: var(--acopon-green);
}

.acopon-bg-sand {
    background: var(--acopon-sand);
}

.acopon-bg-beige {
    background: var(--acopon-beige);
}

.acopon-bg-grey {
    background: var(--acopon-grey);
}

.acopon-bg-blue>p,
.acopon-bg-gold>p {
    color: var(--neutral-100);
}

.acopon-bg-green>p,
.acopon-bg-sand>p,
.acopon-bg-beige>p,
.acopon-bg-grey>p {
    color: var(--neutral-1000);
}

#acopon .cask-photos {
    width: 100%;
    height: 400px;
    background-image: url('/assets/images/projects/acopon/cask-badges/cask-photos.webp');
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
}

#acopon .cask-badge {
    max-width: 350px;
}

footer {
    position: relative;
    z-index: 1;
    padding-bottom: var(--rr-size-xl-4x);
    min-height: 20vh;
    border-top: 1px solid var(--rr-border-color-default);
}

footer #footerContact {
    min-height: 50vh;
}

footer .btn.primary {
    /* transform: scale(1.25); */
}

.bubble-flip {
    transform: perspective(1000px) rotateY(0deg);
}

footer .bubble-rotate {
    transform: rotate(352deg);
}

footer .bubble-skew {
    transform: skew(-10deg, 2deg);
}

footer .bubble-skew:hover {
    transform: skew(-10deg, 2deg);
}

footer .bubble-body {
    background: var(--rr-surface-color-primary-inverse);
    padding: var(--rr-size-xl-2x);
    border-radius: var(--rr-radius-lg-2x);
}

footer .bubble-body::after {
    position: absolute;
    content: '';
    background-image: url('/assets/images/projects/misc/bubble-pointer.svg');
    width: 218px;
    height: 95px;
    left: 80px;
}


footer .bubble-body h1 {
    /* position: relative; */
    color: var(--rr-text-color-primary-inverse);
    font-size: var(--rr-size-xl-7x);
    text-align: center;
}


#legal {
    background: var(--rr-surface-color-primary);
    padding: var(--rr-size-sm) var(--rr-size-xl-2x);
    border: 1px solid var(--rr-border-color-default);
    border-radius: var(--rr-radius-sm);
}

#legal p,
#legal ul li {
    color: var(--rr-text-color-primary);
    font-size: var(--rr-size-sm);
    font-family: var(--font-header);
    text-transform: uppercase;
}