/* Sections */


section[data-section-type="intro"] {
    position: sticky;
    top: 0;
    /* z-index: -1; */
    padding-bottom: var(--rr-size-xl-4x);
}

.spacing-a-t {
    letter-spacing: -7px;
    margin-right: 10px;
}


@keyframes blink-cursor {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.film-effect-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.film-card-clip {
    width: 100%;
    height: 100%;
    clip-path: inset(0px 0px 0px 0px);
    position: absolute;
}

.film,
.effect {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(0.45px) drop-shadow(0px 0px 0px var(--rr-surface-color-primary-dark));
}

.film:after,
.effect:after {
    position: absolute;
    content: '';
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    padding-left: 100px;
    opacity: 0.5;
    animation: film-scratch 0.45s steps(1) infinite;
    background: repeating-linear-gradient(90deg, var(--rr-surface-color-black) 0 2px, transparent 4px 37vmin);
}

.grain {
    position: relative;
    width: 100%;
    height: 100%;
}

.grain:after {
    position: absolute;
    content: '';
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    opacity: .25;
    background-image:
        repeating-conic-gradient(var(--rr-surface-color-black) 0%, transparent .00003%, transparent .0005%, transparent .00095%),
        repeating-conic-gradient(var(--rr-surface-color-black) 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
    animation: grain 0.5s steps(1) infinite;
    filter: drop-shadow(0px 0px 1px var(--rr-surface-color-black));
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-1%, -1%);
    }

    20% {
        transform: translate(1%, 1%);
    }

    30% {
        transform: translate(-2%, -2%);
    }

    40% {
        transform: translate(3%, 3%);
    }

    50% {
        transform: translate(-3%, -3%);
    }

    60% {
        transform: translate(4%, 4%);
    }

    70% {
        transform: translate(-4%, -4%);
    }

    80% {
        transform: translate(2%, 2%);
    }

    90% {
        transform: translate(-3%, -3%);
    }
}

@keyframes film-scratch {

    0%,
    100% {
        transform: translateX(0);
        opacity: 0.5;
    }

    10% {
        transform: translateX(-1%);
    }

    20% {
        transform: translateX(1%);
    }

    30% {
        transform: translateX(-2%);
        opacity: 0.75;
    }

    40% {
        transform: translateX(3%);
    }

    50% {
        transform: translateX(-3%);
        opacity: 0.5;
    }

    60% {
        transform: translateX(8%);
    }

    70% {
        transform: translateX(-3%);
    }

    80% {
        transform: translateX(10%);
        opacity: 0.25;
    }

    90% {
        transform: translateX(-2%);
    }
}

@keyframes effect-scratch {
    0% {
        transform: translateX(0);
        opacity: 0.75;
    }

    10% {
        transform: translateX(-1%);
    }

    20% {
        transform: translateX(1%);
    }

    30% {
        transform: translateX(-2%);
    }

    40% {
        transform: translateX(3%);
    }

    50% {
        transform: translateX(-3%);
        opacity: 0.5;
    }

    60% {
        transform: translateX(8%);
    }

    70% {
        transform: translateX(-3%);
    }

    80% {
        transform: translateX(10%);
        opacity: 0.25;
    }

    90% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(30%);
    }
}


.go-back-container {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 1;
    transition: .25s ease-out;
}

.show-go-back {
    transition: .25s ease-out;
    top: 20px;
}

#content-wrapper {
    height: 100vh;
    overflow: hidden;
}

.all-panels {
    position: absolute;
    top: 0;
    left: 0;
    transition: .35s ease-in;
}

#project-wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    padding: var(--rr-size-xl-2x);
    border-left: 1px solid var(--rr-border-color-default);
}

.project-content {
    display: none;
    padding: var(--rr-size-xl-2x);
    /* border: 1px solid var(--rr-border-color-dark); */
    /* border-radius: var(--rr-radius-lg-4x);
    box-shadow: 20px 20px 0px var(--rr-surface-color-brand); */
}

.project-content .col {
    height: 100%;
}

/* ============= */
/* Intro Section */
#welcome {
    height: 70vh;
    padding: var(--rr-size-xl-3x) var(--rr-size-md);
}

#welcome h1 {
    text-transform: uppercase;
    position: relative;
}

#welcome h1>span.cursor {
    position: relative;
}

#welcome h1>span.off-center {
    position: relative;
    padding-left: 0
}

#welcome h1>span.off-center:before {
    position: absolute;
    top: -16px;
    left: -18px;
    content: 'Off';
    font-family: var(--font-display);
    color: var(--rr-text-color-brand);
    font-size: 34px;
    /* text-shadow: 4px 4px var(--rr-surface-color-primary); */
    transform: rotate(-15deg);
}

#welcome .intro-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 6px
}


#welcome .intro-header h1[data-intro-text="human"] {
    animation-name: intro-text-human;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: bounce-in;
}

@keyframes intro-text-human {
    0% {
        width: 286.35px;
        opacity: 1;
    }

    30% {
        width: 286.35px;
        opacity: 1;

    }

    33% {
        width: 0px;
        opacity: 0;
    }


    89% {
        width: 0;
        opacity: 0;
    }

    93% {
        width: 286.35px;
        opacity: 1;
    }

    100% {
        width: 286.35px;
        opacity: 1;
    }
}


#welcome .intro-header h1[data-intro-text="off"] {
    width: 0;
    /* color: var(--rr-text-color-brand); */
    /* font-family: var(--font-display); */
    animation-name: intro-text-off;
    animation-duration: 16s;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-timing-function: bounce-out;
}

@keyframes intro-text-off {
    0% {
        width: 0;
        opacity: 0;
    }

    31% {
        width: 0;
        opacity: 0;
    }

    35% {
        width: 148px;
        opacity: 1;
    }

    88% {
        width: 148px;
        opacity: 1;
    }

    91% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 0px;
        opacity: 0;
    }

}

#welcome .intro-header h1[data-intro-text="centered"] {
    line-height: 84px;
    animation-name: intro-text-centered;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: bounce-in;
}

@keyframes intro-text-centered {
    0% {
        width: 384px;
    }

    30% {
        width: 384px;

    }

    33% {
        width: 286px;
    }


    90% {
        width: 286px;
    }

    93% {
        width: 384px;
    }

    100% {
        width: 384px;
    }
}

#welcome .intro-header h1[data-intro-text="design"] {
    animation-name: intro-text-design;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: bounce-in;
    /* animation-delay: 2s; */
}

@keyframes intro-text-design {
    0% {
        width: 295px;
        opacity: 1;
    }

    31% {
        width: 295px;
        opacity: 1;

    }

    33% {
        opacity: 1;

    }

    34% {
        width: 0px;
        opacity: 0;
    }


    91% {
        width: 0;
        opacity: 0;
    }

    93% {
        width: 295px;
        opacity: 1;
    }

    100% {
        width: 295px;
        opacity: 1;
    }
}

#welcome .intro-header h1[data-intro-text="differ"] {
    /* color: var(--alpha-red500-0); */
    opacity: 0;
    animation-name: intro-text-differ;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: bounce-in;
}

@keyframes intro-text-differ {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    38% {
        opacity: 1;
    }


    90% {
        opacity: 1;
    }

    92% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}



#welcome .opacity-toggle {
    opacity: 1;
    transition: 1s ease-in;
}

#welcome h1>span.cursor::after {
    content: '';
    width: 8px;
    height: var(--rr-size-xl-7x);
    background: var(--rr-text-color-primary);
    position: absolute;
    right: -12px;
    animation-name: blink-cursor;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transition: none;
}

@keyframes blink-cursor {
    0% {
        opacity: 0;
    }

    9% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    19% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    29% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    39% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    59% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    69% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    79% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    89% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.blur {
    animation-name: blur;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
    color: var(--rr-text-color-primary);
    color: transparent;
    text-shadow: 0 0 0 var(--rr-text-color-subtle);
}

@keyframes blur {
    0% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }

    50% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }

    52% {
        color: transparent;
        text-shadow: 0 0 8px var(--rr-text-color-subtle);
    }

    56% {
        color: transparent;
        text-shadow: 0 0 4px var(--rr-text-color-subtle);
    }

    60% {
        color: transparent;
        text-shadow: 0 0 4px var(--rr-text-color-subtle);
    }

    62% {
        color: transparent;
        text-shadow: 0 0 6px var(--rr-text-color-subtle);
    }

    64% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }

    100% {
        color: transparent;
        text-shadow: 0 0 0 var(--rr-text-color-subtle);
    }
}

[data-blur="off"] {
    filter: blur(0);
    transition: .25s ease-in;
}

[data-blur="on"] {
    filter: blur(6px);
    transition: .25s ease-out;
}


.red {
    color: red;
}

#welcome #titles {
    position: relative;
    height: 70px;
    clip-path: inset(0);
}


#welcome #titles .col {
    position: absolute;
    top: -6px;
    animation-name: scroll-titles;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


@keyframes scroll-titles {
    0% {
        top: -6px;
    }

    3% {
        top: -6px;
    }

    10% {
        top: -6px;
    }

    13% {
        top: -98px;
    }

    20% {
        top: -98px;
    }

    23% {
        top: -190px;
    }

    30% {
        top: -190px;
    }

    33% {
        top: -282px;
    }

    40% {
        top: -282px;
    }

    55% {
        top: -282px;
    }

    58% {
        top: -190px;
    }

    66% {
        top: -190px;
    }

    69% {
        top: -98px;
    }

    77% {
        top: -98px;
    }

    80% {
        top: -6px;
    }

    100% {
        top: -6px;
    }

}

.pronunciation {
    position: relative;
    color: var(--rr-text-color-brand);
    transition: .25s ease-in;
    text-decoration: wavy var(--rr-text-color-brand) underline;
}

.pronunciation:hover {
    color: var(--alpha-red500-75);
    padding-bottom: 4px;
    transition: .25s ease-out;
}

;

/* Featured Projects */
.feature-card {
    transition: .25s ease-out
}


.feature-card:hover {
    cursor: pointer;
    color: var(--rr-text-color-brand);
}

.feature-card:hover h3,
.feature-card:hover .chip-outline {
    color: var(--rr-text-color-brand);
    border-color: var(--rr-text-color-brand);
}

.feature-card .card-img {
    background: #fff;
    min-height: 500px;
    transition: .25s ease-out;
    filter: sepia(0%);
}

.feature-card:hover .card-img {
    transition: .25s ease-out;
    /* cursor: pointer; */
    filter: sepia(90%);
}

#feature1:hover #project1 {
    background-size: 102%;
    transition: .25s ease-out;
}

#featured #labels.card-img {
    background: rgb(185, 105, 7);
    background: linear-gradient(151deg, rgba(185, 105, 7, 1) 0%, rgba(251, 232, 91, 1) 100%);
}

#featured .card:last-of-type {
    background: rgb(250, 170, 141);
    background: linear-gradient(133deg, rgba(250, 170, 141, 1) 0%, rgba(214, 65, 39, 1) 100%);
}

.card>#acopon.img-container {
    background-image: url('/assets/images/2025/featured/acopon.jpg');
    transition: .25s ease-in;
}

.card>#labels.img-container {
    background-image: url('/assets/images/2025/featured/cans-labels.png');
    transition: .25s ease-in;
}

.card>#logos.img-container {
    background-image: url('/assets/images/2025/featured/logos.gif');
    transition: .25s ease-in;
}

.card .img-container {
    filter: grayscale(0);
}

.card:hover .img-container>.section-overlay {
    /* filter: blur(1); */
    background-color: var(--rr-surface-color-overlay-primary);
}

#featured ul,
#webdev ul {
    padding: 0;
    margin: 0;
}


.view-prj {
    height: 0;
    color: var(--rr-text-color-brand);
    transition: .25s ease-out;
}

.view-prj:hover {
    color: var(--rr-surface-color-brand-accent);
}


.feature-card:hover .view-prj {
    height: 40px;
    transition: .25s ease-out;
}

.feature-vid-bg {
    /* z-index: -1; */
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .2;
}

.section-header {
    z-index: 3;
    border-top: 1px solid var(--rr-border-color-default);
    border-bottom: 1px solid var(--rr-border-color-default);
    width: 100%;
    height: 68px;
    padding: var(--rr-size-md);
    overflow: hidden;
    position: sticky;
    top: 0;
    color: var(--rr-text-color-primary);
    padding-left: var(--rr-size-md);
    background: var(--rr-surface-color-primary);
}

.section-header h2 {
    color: var(--rr-text-color-primary);
    padding-left: var(--rr-size-md);
}

.shadow-container {
    position: absolute;
    width: 3000px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    left: -450px;
}

[data-section-type="services"] .shadow-container {
    left: -439px;
}

[data-section-type="labels"] .shadow-container {
    left: -480px;
}

.shadow-container>span {
    position: relative;
    font-family: var(--font-header);
    font-weight: var(--weight-900);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding-left: var(--rr-size-md);
    font-size: var(--rr-size-xl-4x);
    line-height: 2rem;
}

.section-header h2:before,
.shadow-container>span:before {
    position: absolute;
    left: 0;
    transform: skew(347deg);
    content: '';
    padding: 0px 4px;
    width: 8px;
    height: 32px;
    background: var(--rr-text-color-primary);
}

.shadow-container>span,
.shadow-container>span:before {
    color: var(--rr-text-color-subtle);
}

.shadow-container>span:before {
    background: var(--rr-text-color-subtle);
}



/* Services */
#services .tab {
    border-radius: var(--rr-radius-lg) var(--rr-radius-lg) 0 0;
}

#services .tab[data-tab-status="active"] {
    background: var(--rr-surface-color-accent);
}

#services .tab[data-tab-status="inactive"] {
    transition: .15s ease-out;
}

#services .tab[data-tab-status="inactive"]:hover {
    background: rgba(0, 0, 0, .05);
    transition: .25s ease-in;
    cursor: pointer;
}

#services-content {
    background: var(--rr-surface-color-accent);
    padding: var(--rr-size-xl) var(--rr-size-xl-4x);
    margin: 0;
}

#services ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

#services h5 {
    font-family: var(--font-header);
    font-size: var(--rr-size-md);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05rem;
    text-align: center;
    margin: 0;
}

.tab-content-radius {
    border-radius: var(--rr-radius-lg);
    transition: .15s ease-out;
}

/* #services p {
    margin: 0;
} */


/* Case Studies */
#case-studies .card {
    max-width: 768px;
}

#webdev .feature-card {
    width: 680px;
}

#webdev .feature-card:hover {
    cursor: default;
    color: var(--rr-text-color-brand);
}

.feature-card:hover {
    cursor: pointer;
    color: var(--rr-text-color-brand);
}

.feature-card:hover h3,
.feature-card:hover .chip-outline {
    color: var(--rr-text-color-primary);
    border-color: var(--rr-text-color-primary);
}


#webdev p {
    margin: 0;
}


#logos [data-logo] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 500px;
    padding: var(--rr-size-xl-3x);
}


footer {
    padding-top: 100px;
}

footer p {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 90px;
    font-size: var(--rr-size-sm);
}

/* ================ */
/* Can Label Page */
/* ================= */

#label-showcase [data-target="showcase"] {
    min-height: 900px;
}

.can-control-container {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#label-showcase .scroll-container {
    position: relative;
    height: 250px;
}

#label-showcase [data-target="can-controls"] {
    position: absolute;
    left: 0;
    top: 0;
    transition: .25s ease-in;
}

#label-showcase [data-can] {
    transform: scale(.9);
    transition: .25s ease-in;
}

#label-showcase [data-can]:hover {
    transform: scale(1);
    transition: .25s ease-out;
}

#label-showcase .move-right-container,
#label-showcase .move-left-container {
    position: absolute;
    bottom: 0;
    height: 240px;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    padding: 20px;
}

#label-showcase .move-right-container {
    right: 0;
}

#label-showcase .move-left-container {
    left: 0;
}

#label-showcase .move-right-container>button,
#label-showcase .move-left-container>button {
    box-shadow: 0 0 32px rgba(0, 0, 0, .75);
}