/* Universal Elements */
:root {
    /* Rojorevolution */
    --rojo-primary: #e83a0e;
    --rojo-secondary: #BC4241;
    --header-primary: #525257;
    --text-primary: #262524;
}


html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--rojo-primary);
    text-decoration: none;
}

a:visited {
    color: none;
}

a:hover {
    color: var(--rojo-secondary);
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Abril Fatface', Georgia, cursive;
}

h3,
h4,
h5,
p {
    font-family: 'Source Sans Pro', Helvetica, Arial, serif;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--header-primary);
    text-decoration: none;

}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 3.5rem;
    margin: 25px 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.5rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 2rem;
    margin: 0 0 25px;
}

h5 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: left;
    line-height: 2.2rem;
    margin: 0 0 25px;
}



p {
    font-size: 1.15rem;
    font-weight: 400;
    color: #262524;
    line-height: 2rem;
    text-align: left;
    margin: 0 0 .5rem 0;
}